<!DOCTYPE html>
<html>
  <head>
    <title>Xyzentmts</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <style>
      #banner{
        height: 360xp;
        width: 100%;
        object-fit: cover;
      }
      
    </style>
  </head>
  <body>
    <div class="container">
      <h1 class="text-center mt-4 mb-4">
        {{company_name}} Frequancy
      </h1>
      <img class="img-fluid" id="banner" src="https://xyzentmts.jedicaptain.repl.co/static/xyzentmts.jpg"
        <h2 class="Text-center mt-2 mb-4">
      About the Net
    </h2>
      <p class="lead">
      So this text can chnage at any time but i did want you to see that this is a functioning web sit. now i just need to figure out what to do with it. So this text can chnage at any time but i did want you to see that this is a functioning web sit. now i just need to figure out what to do with it.So this text can chnage at any time but i did want you to see that this is a functioning web sit. now i just need to figure out what to do with it.
      </p>
      <h2 class="text-center mt-4 mb-4">
        Open Job Contracts
      </h2>
      <div>
        {% for job in jobs %}
          {% include 'jobitem.html' %}
        {% endfor %}
      </p>
      <div class="text center">
      <button class="btn btn-primary">Don't Touch Me!</button>
        Click it... Do It!</button>
      <p class="text center mt-0">
        Copyright@2023
      </p>
      </div>
    </div>
  </body>
</html>